body {
    margin:0;
    height:100%;
    position:relative;
    background-color: rgba(0, 0, 0, 0.97) !important;
}
body::before,
body::after {
    content:"";
    position:absolute;
    left:0;
    width:100%;
    background-color: #101010;
}

body::before {
    top:0;
    height:100%;
    background: #000000;
    z-index: -1;
    -webkit-clip-path: polygon(0 0, 52% 0, 78% 100%, 0% 100%);
    clip-path: polygon(0 0, 52% 0, 78% 100%, 0% 100%);
}

.carousel-item-bejflix {
    width: 100% !important;
}

.MuiRating-iconEmpty {
  color: grey !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px #E5E5E5 inset !important;
}

